.sys-comment-item-default {
  margin: 0.3rem 0;
  padding: 0.4rem;
  background: #fff;

  .top-box {
    display: flex;

    .info {
      flex: 1;
      padding-left: 0.4rem;
      display: flex;
      flex-direction: column;
      justify-content: center;

      .title {
        font-size: 0.4rem;
        font-weight: bold;
        color: #000;

        .subtitle {
          padding-left: 0.125rem;
          font-size: 0.35rem;
          font-weight: normal;
          color: rgb(153, 153, 153);
        }
      }

      .text {
        margin-top: 0.125rem;
        font-size: 0.3rem;
        color: rgb(102, 102, 102);
      }
    }
  }

  .desc-box {
    margin-top: 0.25rem;
    font-size: 0.4rem;
    color: #000;
  }

  .video-box {
    margin-top: 0.25rem;
    flex: 1;
    background: #f4f5f6;
    border-radius: 0.125rem;
    overflow: hidden;
    display: flex;
    align-items: center;

    .title {
      flex: 1;
      padding: 0.4rem;
      font-size: 0.4rem;
      color: #000;
    }

    .video-img {
      width: 4rem;
      height: 2rem;
    }
  }
}
