.comics-filter-container {
  padding: 4px 0 0.2rem 0.4rem;
  .comics-filter-tabs {
    padding: 0.1rem 0;
    .comics-filter-item {
      display: inline-block;
      margin: 0 0.1rem;
      min-width: 1rem;
      text-align: center;
      padding: 0.1rem 0.2rem;
      color: #333333;
      font-size: 0.38rem;
      border-radius: 35px;
      &.active {
        color: #008afb;
        background-color: #e5f0ff;
      }
    }
  }
}
