.activity-dialog-content {
  transition: all 0.3s;
}
.modal-enter-from .activity-dialog-content {
  transform: scale(0.5) translateY(100px);
  opacity: 0;
}
.modal-leave-to .activity-dialog-content {
  transform: translateY(100px) scale(0);
  opacity: 0;
}
