.dx-xg-player {
  width: 100%;
  height: 100%;
  position: relative;

  &.auto-size {
    .xgplayer video {
      position: static;
    }
  }

  &.is-tiktok {
    xg-trigger .time-preview {
      padding-bottom: 0;
      bottom: 0;
      left: 0;
      right: 0;
      top: unset;
      transform: none;
      width: 100%;
      padding-left: 0;
      padding-right: 0;

      .xg-bar {
        width: 100%;
        height: 0px;
      }
    }

    .xgplayer .xg-inner-controls {
      height: 0;
    }

    .xgplayer .xg-pos {
      left: 12px;
      right: 12px;
      bottom: var(--progress-bar-bottom, 12px);
    }

    .xgplayer xg-trigger {
      top: unset;
      bottom: 0;
      height: 36px;
      z-index: 13;
    }

    user-select: none;

    .xg-center-grid {
      top: unset;
      bottom: 0;
      padding: 0;
    }

  }

  .xgplayer-controls {
    will-change: transform;
  }

  &--placeholder {
    width: 100%;
    height: 100%;
  }

  .dx-xg-player-poster {
    position: absolute;
    left: 0;
    top: 0;
    right: 0;
    bottom: 0;
    /* background-size: cover; */
    background-repeat: no-repeat;
    background-position: center center;
    background-size: 100% auto;
  }

  .icon-play {
    width: 50px;
    height: 50px;
  }

  .xgplayer-enter {
    background: rgba(0, 0, 0, 0.5);
  }

  .xg-progress-cache,
  .xg-progress-played {
    height: 100%;
    position: absolute;
    left: 0;
    bottom: 0;
    right: 0;
    width: 0;
  }

  .xg-progress-cache {
    height: 100%;
    background-color: rgba(255, 255, 255, 0.5);
  }

  .xg-progress-played {
    height: 100%;
  }

  .xg-custom {
    position: absolute;
    left: 50%;
    top: 50%;
    z-index: 1;
    transform: translate(-50%, -50%);
    width: 48px;
    height: 48px;
    display: none;
  }

  .xgplayer-loading .xgplayer-enter-spinner {
    display: block;
    position: absolute;
    z-index: 1;
    left: 50%;
    top: 50%;
    height: 60px;
    width: 60px;
    transform: translate(-50%, -50%);
  }

  .xgplayer-enter .xgplayer-enter-spinner {
    display: block;
    position: absolute;
    z-index: 1;
    left: 50%;
    top: 50%;
    height: 100px;
    width: 100px;
    transform: translate(-50%, -50%);
  }

  .xgplayer-loading .xgplayer-enter-spinner div,
  .xgplayer-enter .xgplayer-enter-spinner div {
    width: 6%;
    height: 15%;
    background-color: #fff;
    position: absolute;
    left: 45%;
    top: 45%;
    opacity: 0;
    border-radius: 30px;
    animation: fade 1s linear infinite;
  }

  @keyframes fade {
    0% {
      opacity: 1;
    }

    to {
      opacity: 0.25;
    }
  }

  .xgplayer-loading .xgplayer-enter-spinner div.xgplayer-enter-bar1,
  .xgplayer-enter .xgplayer-enter-spinner div.xgplayer-enter-bar1 {
    transform: rotate(0) translateY(-140%);
    animation-delay: -0s;
  }

  .xgplayer-loading .xgplayer-enter-spinner div.xgplayer-enter-bar2,
  .xgplayer-enter .xgplayer-enter-spinner div.xgplayer-enter-bar2 {
    transform: rotate(30deg) translateY(-140%);
    animation-delay: -0.9163s;
  }

  .xgplayer-loading .xgplayer-enter-spinner div.xgplayer-enter-bar3,
  .xgplayer-enter .xgplayer-enter-spinner div.xgplayer-enter-bar3 {
    transform: rotate(60deg) translateY(-140%);
    animation-delay: -0.833s;
  }

  .xgplayer-loading .xgplayer-enter-spinner div.xgplayer-enter-bar4,
  .xgplayer-enter .xgplayer-enter-spinner div.xgplayer-enter-bar4 {
    transform: rotate(90deg) translateY(-140%);
    animation-delay: -0.7497s;
  }

  .xgplayer-loading .xgplayer-enter-spinner div.xgplayer-enter-bar5,
  .xgplayer-enter .xgplayer-enter-spinner div.xgplayer-enter-bar5 {
    transform: rotate(120deg) translateY(-140%);
    animation-delay: -0.6664s;
  }

  .xgplayer-loading .xgplayer-enter-spinner div.xgplayer-enter-bar6,
  .xgplayer-enter .xgplayer-enter-spinner div.xgplayer-enter-bar6 {
    transform: rotate(150deg) translateY(-140%);
    animation-delay: -0.5831s;
  }

  .xgplayer-loading .xgplayer-enter-spinner div.xgplayer-enter-bar7,
  .xgplayer-enter .xgplayer-enter-spinner div.xgplayer-enter-bar7 {
    transform: rotate(180deg) translateY(-140%);
    animation-delay: -0.4998s;
  }

  .xgplayer-loading .xgplayer-enter-spinner div.xgplayer-enter-bar8,
  .xgplayer-enter .xgplayer-enter-spinner div.xgplayer-enter-bar8 {
    transform: rotate(210deg) translateY(-140%);
    animation-delay: -0.4165s;
  }

  .xgplayer-loading .xgplayer-enter-spinner div.xgplayer-enter-bar9,
  .xgplayer-enter .xgplayer-enter-spinner div.xgplayer-enter-bar9 {
    transform: rotate(240deg) translateY(-140%);
    animation-delay: -0.3332s;
  }

  .xgplayer-loading .xgplayer-enter-spinner div.xgplayer-enter-bar10,
  .xgplayer-enter .xgplayer-enter-spinner div.xgplayer-enter-bar10 {
    transform: rotate(270deg) translateY(-140%);
    animation-delay: -0.2499s;
  }

  .xgplayer-loading .xgplayer-enter-spinner div.xgplayer-enter-bar11,
  .xgplayer-enter .xgplayer-enter-spinner div.xgplayer-enter-bar11 {
    transform: rotate(300deg) translateY(-140%);
    animation-delay: -0.1666s;
  }

  .xgplayer-loading .xgplayer-enter-spinner div.xgplayer-enter-bar12,
  .xgplayer-enter .xgplayer-enter-spinner div.xgplayer-enter-bar12 {
    transform: rotate(330deg) translateY(-142%);
    animation-delay: -0.0833s;
  }
}

.xgplayer-inactive {
  .xg-mini-progress.xg-mini-progress-hide {
    display: none;
  }
}

.xgplayer-pause {
  .xg-custom {
    display: block;
  }
}

.is-tiktok {
  .xgplayer-inactive {

    .controls-autohide {
      opacity: 1 !important;
      visibility: visible !important;
    }
  }

  .xgplayer {

    .xgplayer-controls {
      height: 32px;
    }

    .xgplayer-progress {
      height: 0;
    }

    .xgplayer-progress-outer {
      height: 3px;
    }
  }
}

.is-tiktok [data-xg-action="seeking"] {
  xg-trigger .time-preview {
    .xg-bar {
      height: 6px !important;
    }
  }

  .xgplayer-progress,
  .xg-center-grid {
    display: none;
    height: 0;
  }

}
